<!DOCTYPE html>
<html>
<head>
  <title>Visitations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render 'common/nav' %>

  <%- flash.each do |key, val| -%>
  <div class='alert alert-<%= key %>'>
    <p><%= val %></p>
  </div>
  <%- end -%>
  
  <div class='container-fluid'>
    <%= yield %>
  </div>

</body>
</html>
