<%= link_to "New Project", new_project_path %>

<%- @projects.each do |project| -%>
<%= content_tag_for :div, project do %>
  <%= project_updates_badge_for(project, current_user) %>
  <h2><%= link_to project.name, project %></h2>
  <p>
    <%= project.description %>
  </p>
<%- end -%>
<%- end -%>